.jskalculator {
    /* width: 500px; */
    margin: 0 auto;
    text-align: center;
    /* background-color: yellow; */
    padding: 20px;
    /* border: black 2px solid; */
}

.jskalculator .operation-block button {
    height: 80px;
    width: 60px;
    //margin: 20px;
    /* margin: 5% 0% 5% 90%; */
}

.jskalculator .inputs-block .input-block label {
    display: block;
}

.jskalculator .inputs-block .input-block {
    display: inline-block;
    padding: 30px;
}

.operation-button {
    /* display: block; */
    /* margin:0px 0px 0 90% ; */
}

.input {
    height: 40px;
    width: 300px
}